<nav id="main_menu">
    <p class="app_title">Ứng Dụng Quản Lý Thu Chi</p>
    <ul id="nav_links">
        <li class="nav_link">
            <a href="/">Trang Chủ</a>
        </li>
        <li class="nav_link">
            <a href="/account/receipt">Tài Khoản Thu</a>
        </li>
        <li class="nav_link">
            <a href="/account/expense">Tài Khoản Chi</a>
        </li>
        <li class="nav_link">
            <a href="/analysis">Thống Kê</a>
        </li>
    </ul>
</nav>