<section id="main_features">
    <a href="/account/receipt" class="main_feature">
        <img src="/img/reciept_account_feature.png" />
        <h4>Tài Khoản Thu</h4>
    </a>
    <a href="/account/expense" class="main_feature">
        <img src="/img/expense_account_feature.png" />
        <h4>Tài Khoản Chi</h4>
    </a>
    <a href="/analysis" class="main_feature">
        <img src="/img/analysis_feature.jpg" />
        <h4>Thống Kê</h4>
    </a>
</section>